.site {
  gap: 57px;
  width: 1000px;
  height: 1179px;
  display: flex;
  flex-direction: column;
}



.card:hover  {   
  transform: scale(1.01); 
}
.container {
  height: 50px;
  display: flex;
  position: relative;
  margin-top: 21px;
}


.line:hover {
  border-bottom: #000000 2px solid;
  padding-bottom: 5px;
}

.line {
  color: black;
  text-decoration: none;
}


a{
  color: black;
  text-decoration: none;
}


.price {
  color: #434343;
}
.coll {
margin-bottom: -10px;
}
.contact {
  text-align: right;
}

.card {
  gap: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.content {
  font-size: 20px;
  font-family: "Montserrat Alternates";
  font-weight: 500;

}

.other {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: normal;
}

@font-face {
  font-family: "Avs-Regular";
  font-style: normal;
  font-format: opentype;
  font-weight: 400;
  src: url("public/fonts/avs.otf") ;
}


.header {
  width: 1000px;
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("public/external/image%20231-500h.png");
}

.zag {

  gap: -5px;
  display: flex;
  align-self: flex-start;
  margin-left: 50px;
  margin-bottom: 20px;
  flex-direction: column;

}

h1 {
  color: #000000;  
  width: auto;
  height: auto;
  font-size: 96px;
  font-style: Regular;
  text-align: left;
  font-family: "Avs-Regular";
  font-weight: 400;
  line-height: normal;
}




.logo {
  gap: -20px;
  left: 50px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
}

.menu {
  height: 30px;
  gap: 60px;
  flex: 1;
  display: flex;
  justify-content: center;

}

.floor {
  gap: 20px;
  width: 900px;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
}
.vyazan-card {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.nameprice {
  gap: 5px;
  display: flex;
  line-height: normal;
  flex-direction: column;
}


.vyazan-footer {
 
  gap: 262px;
  height: 48px;
  display: flex;
  margin-left: 50px;
  margin-top: 2px;

}
.vyazan-about {
  margin-top: 1px;
  gap: 20px;
  display: flex;
}
.about {
  gap: 9px;
  width: 209px;
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 1px;
  width: 200px;
  gap: 9px;
  display: flex;
  flex-direction: column;
}

